
@{
    ViewData["Title"] = "Main";
}

<h1>What do you want to do?</h1>

<button type="button" class="btn btn-primary">Add drug to cart</button>
<button type="button" class="btn btn-primary">Proceed to checkout</button>
<button type="button" class="btn btn-primary">Checkout Inventory</button>